<%- include("header") -%>

<h1>About Page</h2>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam iure animi quos pariatur! Dolorum quisquam
        inventore
        perferendis autem deleniti fugiat iste dolorem voluptatem repellat velit? Officia laboriosam deleniti qui?
        Vitae?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima iusto et cumque animi corrupti, illo nostrum
        vero
        obcaecati nam? Excepturi pariatur quo illum nam placeat impedit earum ea dignissimos laudantium.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi blanditiis, sunt impedit facere iure vitae.
        Temporibus aliquid dignissimos blanditiis architecto ipsa voluptatem, similique earum, suscipit error quisquam
        iusto
        iure labore?

        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam iure animi quos pariatur! Dolorum quisquam
        inventore
        perferendis autem deleniti fugiat iste dolorem voluptatem repellat velit? Officia laboriosam deleniti qui?
        Vitae?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima iusto et cumque animi corrupti, illo nostrum
        vero
        obcaecati nam? Excepturi pariatur quo illum nam placeat impedit earum ea dignissimos laudantium.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi blanditiis, sunt impedit facere iure vitae.
        Temporibus aliquid dignissimos blanditiis architecto ipsa voluptatem, similique earum, suscipit error quisquam
        iusto
        iure labore?

        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam iure animi quos pariatur! Dolorum quisquam
        inventore
        perferendis autem deleniti fugiat iste dolorem voluptatem repellat velit? Officia laboriosam deleniti qui?
        Vitae?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima iusto et cumque animi corrupti, illo nostrum
        vero
        obcaecati nam? Excepturi pariatur quo illum nam placeat impedit earum ea dignissimos laudantium.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi blanditiis, sunt impedit facere iure vitae.
        Temporibus aliquid dignissimos blanditiis architecto ipsa voluptatem, similique earum, suscipit error quisquam
        iusto
        iure labore?

        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam iure animi quos pariatur! Dolorum quisquam
        inventore
        perferendis autem deleniti fugiat iste dolorem voluptatem repellat velit? Officia laboriosam deleniti qui?
        Vitae?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima iusto et cumque animi corrupti, illo nostrum
        vero
        obcaecati nam? Excepturi pariatur quo illum nam placeat impedit earum ea dignissimos laudantium.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi blanditiis, sunt impedit facere iure vitae.
        Temporibus aliquid dignissimos blanditiis architecto ipsa voluptatem, similique earum, suscipit error quisquam
        iusto
        iure labore?
    </p>

    <%- include("footer") -%>